In [1]:
import pandas as pd
import pymongo

In [2]:
df = pd.read_csv('data.csv')
df.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28.0,0,> 2 Years,Yes,40454.0,26.0,217,1
1,2,Male,76,1,3.0,0,1-2 Year,No,33536.0,26.0,183,0
2,3,Male,47,1,28.0,0,> 2 Years,Yes,38294.0,26.0,27,1
3,4,Male,21,1,11.0,1,< 1 Year,No,28619.0,152.0,203,0
4,5,Female,29,1,41.0,1,< 1 Year,No,27496.0,152.0,39,0

In [3]:
# df should be converted into dict before we push it to mongodb

data = df.to_dict(orient = "records")
#data

In [6]:
from urllib.parse import quote_plus

username = quote_plus("aryan4149")
password = quote_plus("aryanyadav")


DB_NAME = "Proj1"
COLLECTION_NAME = "Proj1-Data"
CONNECTION_URL = f"mongodb+srv://{username}:{password}@cluster0.uurcsaz.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# above I have edited the connection url after use

# above , either remove credential or delete the mongoDB resource before pushing it to github

In [7]:
client = pymongo.MongoClient(CONNECTION_URL)
data_base = client[DB_NAME]
collection = data_base[COLLECTION_NAME]

In [8]:
# Uploading data to MongoDB
rec = collection.insert_many(data)

In [9]:
print(type(rec))

<class 'pymongo.results.InsertManyResult'>